language: python
python:
  - "2.7"
env:
    - DJANGO_VERSION=1.5.11
install:
  - pip install Django==$DJANGO_VERSION
  - pip install -r requirements/travis.txt
script:
  - export PYTHONPATH=`pwd`:$PYTHONPATH
  - cd tests
  - fab testci
